<div class="w-full shadow-[rgba(0,_0,_0,_0.25)_0px_25px_50px_-12px]">
    <div class="ml-4 h-14 max-w-6xl">
      <ul class="relative mx-12 flex h-full flex-row items-center justify-between text-[16px] font-medium sm:text-[18px]">
        <li class="hover:cursor-pointer">Logo</li>
        @if(authService.isLoggedIn()){

          <li class="hover:cursor-pointer">Home</li>
        }
        <li class="hover:cursor-pointer">Services</li>
        <li class="hover:cursor-pointer">Contact</li>
      </ul>
    </div>
</div>