<!-- component -->
<div class="mx-auto grid grid-cols-12 gap-2 bg-zinc-50 p-1">
    <div class="col-span-12 rounded-lg border border-gray-400 bg-gray-200 sm:col-span-2">
      <!-- Sidebar -->
      <app-side-menu />
    </div>
    <div class="col-span-12 flex flex-col rounded-lg border border-gray-500 bg-gray-200 sm:col-span-10">
      <!-- Main Content -->
      <div class="flex-grow">
        <!-- Aquí va el contenido principal -->
        <router-outlet></router-outlet>
      </div>
      <div class="footer rounded-lg border border-gray-800">
        <!-- Footer content -->
        <app-footer></app-footer>
      </div>
    </div>
  </div>
  
<!-- component -->




