<!-- user-list.component.html -->
<div class="container">
    <div class="actions">
        <button class="inline-block px-6 py-2 text-xs font-medium leading-6 text-center text-white uppercase transition bg-secondary-color   rounded shadow ripple hover:shadow-lg hover:bg-secondary-color hover:text-black focus:outline-none"
          >
            Descargar 
          </button>
        <a class="button" routerLink="/user/new"><i class="fas fa-plus"></i> Crear Usuario</a>
        <!-- Añadir otros botones y acciones según sea necesario -->
    </div>

    
    @for(userInfo of userInfoResponse; track userInfo.Email){
        <table class="table-auto w-full p-1 border-2">
                <tr >
                    <td class="p-0" >
                        <table class="table-auto w-full">
                            <tr class="bg-gray-100 text-left" >
                                <td class="px-3 py-4 whitespace-nowrap text-left w-1/4 header-cell ">Email</td>
                                <td class="px-3 py-4 whitespace-nowrap text-left w-1/4 ">{{ userInfo.Email }}</td>
                                <td class="px-3 py-4 whitespace-nowrap text-left w-1/4 header-cell ">Fecha de Creación</td>
                                <td class="px-3 py-4 whitespace-nowrap text-left w-1/4">{{ userInfo.CreatedDate | date }}</td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="p-0" >
                        <table class="table-auto w-full">
                            <tr class="bg-gray-100 text-left " >
                                <td class="px-3 py-4 whitespace-nowrap text-left w-1/4 header-cell ">Id</td>
                                <td class="px-3 py-4 whitespace-nowrap text-left w-1/4 ">{{ userInfo.UserId }}</td>
                                <td class="px-3 py-4 whitespace-nowrap text-left w-1/4 header-cell ">Partner</td>
                                <td class="px-3 py-4 whitespace-nowrap text-left w-1/4 ">{{ userInfo.PartnerName}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="p-0" >
                        <table class="table-auto w-full " >
                            <tr class="bg-gray-100 ">
                                <td class="px-3 py-4 whitespace-nowrap w-1/4 header-cell">Culture</td>
                                <td class="px-3 py-4 whitespace-nowrap w-1/4 ">{{ userInfo.Culture}}</td>
                                <td class="px-3 py-4 whitespace-nowrap w-1/4 header-cell">Ip</td>
                                <td class="px-3 py-4 whitespace-nowrap w-1/4 ">{{ userInfo.SourceIp}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
           
                <tr>
                    <td class="p-0" >
                        <table class="table-auto w-full " >
                            <tr class="bg-gray-100 ">
                                <td class="px-3 py-4 whitespace-nowrap w-1/4 header-cell">Drive</td>
                                <td class="">
                                    <i class="fas fa-chevron-circle-up drive-count-status drive-count-status-uploading"></i>{{userInfo.DriveCountUploading}}
                                    <i class="fas fa-minus-circle drive-count-status-space drive-count-status-processing"></i>{{userInfo.DriveCountProcessingUpload}}
                                    <i class="fas fa-chevron-circle-down drive-count-status-space drive-count-status-browsable"></i>{{userInfo.DriveCountBrowsable}}
                                    <i class="fas fa-stop-circle drive-count-status-space drive-count-status-excluded"></i>{{userInfo.DriveCountExcluded}}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
           
            </table>
        }
    

    <!-- Paginación y filtros -->

</div>
