<!-- user-list.component.html -->
<div id="user-list" class="grid grid-cols-1 md:grid-cols-12">
    <div class="row-start-1 row-end-2 col-start-1 col-end-13">
    </div>

    <div class="col-span-1 md:col-span-9 bg-white">
        <div class="flex justify-end my-4 mr-2">
            <!--
                Asi puedo usar el componente button que creé.
                <ysm-forms-button title="New" icon="fas fa-file-download" customClasses="rounded" (nombreOuput1)="onButtonClickDelOutput($event)"></ysm-forms-button>
            -->
            <button class="inline-block px-6 py-2 text-xs font-medium leading-6 text-center
                 uppercase transition  rounded  ripple
                 hover:shadow hover:bg-gray-200 hover:text-black focus:outline-none">
                <i class="fas fa-file-download"></i> CSV</button>
            <a class="button px-6 py-2 text-xs font-medium leading-6 text-center
        uppercase transition  rounded  ripple hover:shadow hover:bg-gray-200 hover:text-black focus:outline-none"
                routerLink="/user/new"><i class="fas fa-plus"></i> Create</a>
        </div>
        <div class="overflow-x-auto">
        <table class="min-w-ful table-fixed md:table-auto">
            <tr class="flex flex-col flex-no wrap sm:table-row">
                <th class="px-3 py-4 whitespace-nowrap text-left header-cell ">Email</th>
                <th class="px-3 py-4 whitespace-nowrap text-left header-cell ">Fecha de Creación</th>
                <th class="px-3 py-4 whitespace-nowrap text-left header-cell ">ID</th>
                <th class="px-3 py-4 whitespace-nowrap text-left header-cell ">Partner</th>
                <th class="px-3 py-4 whitespace-nowrap text-left header-cell ">Culture</th>
                <th class="px-3 py-4 whitespace-nowrap text-left header-cell ">IP</th>
                <th class="px-3 py-4 whitespace-nowrap text-left header-cell ">Drives</th>
            </tr>
            <tbody class="bg-white ">
            @for(userInfo of userInfoResponse; track $index){
            <tr  class="flex flex-col flex-no wrap sm:table-row">
                <td class="px-3 py-4 text-wrap text-left ">{{ userInfo.email }}</td>
                <td class="px-3 py-4 text-wrap text-left">{{ userInfo.createdDate | date:'medium' }}</td>
                <td class="px-3 py-4 text-wrap text-left ">{{ userInfo.userId }}</td>
                <td class="px-3 py-4 text-wrap text-left ">{{ userInfo.partnerName }}</td>
                <td class="px-3 py-4 text-wrap ">{{ userInfo.culture}}</td>
                <td class="px-3 py-4 text-wrap ">{{ userInfo.sourceIp}}</td>
                <td class="">
                    <i class="fas fa-chevron-circle-up drive-count-status drive-count-status-uploading"></i>
                    {{userInfo.driveUploadingCount}}
                    <i class="fas fa-minus-circle drive-count-status-space drive-count-status-processing"></i>
                    {{userInfo.processedComputersCount}}
                    <i class="fas fa-chevron-circle-down drive-count-status-space drive-count-status-browsable"></i>
                    {{userInfo.driveProcessedCount}}
                    <i class="fas fa-stop-circle drive-count-status-space drive-count-status-excluded"></i>
                    {{userInfo.hasProcessedComputers}}
                </td>
            </tr>
            }
            </tbody>
        </table>
    </div>

    </div>
    <div class="row-start-2 row-end-5 col-start-10 col-end-13 bg-gray-100 ">
        <app-user-filters (filtersApplied)="filtrosAplicados($event)" />
    </div>


</div>
