<section class="user-list p-2">
  <h1 class="title-header text-center text-2xl font-extrabold text-gray-900 sm:text-3xl md:text-5xl mb-2">User List</h1>
<section class="table-users">
<p-table
  [value]="users"
  selectionMode="single"
  [(selection)]="selectedUser"
  dataKey="email"
  (onRowSelect)="onRowSelect($event)"
  (onRowUnselect)="onRowUnselect($event)"
  [tableStyle]="{'min-width': '60rem'}"
  styleClass="p-datatable-striped">
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="email">Email <p-sortIcon field="Email" /></th>
      <th pSortableColumn="createdDate">createdDate <p-sortIcon field="createdDate" /></th>
      <th pSortableColumn="culture">culture <p-sortIcon field="culture" /></th>
      <th pSortableColumn="computersCount">Computers Count <p-sortIcon field="computersCount" /></th>
      <th >Drives </th>
      <th pSortableColumn="sourceIp">sourceIp <p-sortIcon field="sourceIp" /></th>
    </tr>
    <tr>
      <th> <p-columnFilter type="text" field="email" [showClearButton]="false" />  </th>
      <th> <p-columnFilter type="date" field="createdDate" [showClearButton]="true" />  </th>
      <th> <p-columnFilter type="text" field="culture" [showClearButton]="false" />  </th>
      <th> <p-columnFilter type="text" field="computersCount" [showClearButton]="false" />  </th>
      <th></th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user>
    <tr [pSelectableRow]="user">
      <td>{{ user.email }}</td>
      <td>{{ user.createdDate | date:'mediumDate' }}</td>
      <td>{{ user.culture }}</td>
      <td>{{ user.computersCount }}</td>
      <td><div>
        <i class="fas fa-chevron-circle-up drive-count-status drive-count-status-uploading"></i>{{user.driveUploadingCount}}
        <i class="fas fa-minus-circle drive-count-status-space drive-count-status-processing"></i>{{user.driveCountProcessingUpload}}
        <i class="fas fa-chevron-circle-down drive-count-status-space drive-count-status-browsable"></i>{{user.driveProcessedCount}}
        <i class="fas fa-stop-circle drive-count-status-space drive-count-status-excluded"></i>{{user.driveCountExcluded}}
      </div></td>
      <td>{{ user.sourceIp }}</td>
    </tr>
  </ng-template>
</p-table>
<p-paginator class="paginator-computers"
  (onPageChange)="onPageChange($event)"
  [first]="first"
  [rows]="rows"
  [totalRecords]="totalRecords"
  [rowsPerPageOptions]="[10, 25, 50, 100]"
  [showCurrentPageReport]="true"
  [showPageLinks]="true"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords}">
</p-paginator>
</section>
<div class="filters-users">
<h1 class="text-center text-2xl font-extrabold text-gray-900 mb-2">Filters</h1>

<form [formGroup]="filterForm" (ngSubmit)="onSave()" class="flex flex-col gap-4 items-center mx-4  ">
  <p-floatLabel>
    <input type="text" pInputText formControlName="freeText" id="freeText" class="text-xl"/>
    <label for="freeText">Free text</label>
  </p-floatLabel>
  <div class="flex items-center with-70prcent justify-between ">
    <label for="hasDrivesUploading">Uploading</label>
    <p-inputSwitch formControlName="hasDrivesUploading" id="hasDrivesUploading" class="flex"/>
  </div>
  <div class="flex items-center with-70prcent justify-between ">
    <label for="hasDrivesProcessingUpload">Processing</label>
    <p-inputSwitch formControlName="hasDrivesProcessingUpload" id="hasDrivesProcessingUpload" class="flex"/>
  </div>
  <div class="flex items-center with-70prcent justify-between ">
    <label for="hasDrivesBrowsable">Browseable</label>
    <p-inputSwitch formControlName="hasDrivesBrowsable" id="hasDrivesBrowsable" class="flex"/>
  </div>
  <div class="flex items-center with-70prcent justify-between ">
    <label for="showDeleted">Show Deleted</label>
    <p-inputSwitch formControlName="showDeleted" id="showDeleted" class="flex"/>
  </div>
  <p-dropdown class="with-80prcent"
        formControlName="connectionStatus"
        [options]="connectionStatusOptions"
        optionLabel="label"
        placeholder="Connection Status" />


  <p-button type="submit" label="Apply"
class="middle none center mr-4 rounded-lg bg-blue-500 py-3 px-6 font-sans text-xs font-bold uppercase text-white shadow-md shadow-blue-500/20 transition-all hover:shadow-lg hover:shadow-blue-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
 />
</form>
</div>
</section>
