.user-list {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 1fr 1fr minmax(10rem, 18rem);
  grid-template-rows: 0.2fr minmax(100px, auto);
  grid-template-areas:
    "title-header title-header title-header title-header"
    "table-users table-users table-users filters-users"
}
.title-header {
    grid-area: title-header;
    text-align: center;
}
.table-users{
    grid-area: table-users;
}
.filters-users{
    grid-area: filters-users;
}
.with-70prcent {
    width: 70%;
}

.with-80prcent {
width: 80%;
}


