<mat-tab-group>
  @for (computer of computers(); track computer; let idx =$index) {


  <mat-tab label="{{computer.name}}">
    <ng-template matTabContent>
      <h3>Loaded: {{getTimeLoaded(computer.computerId) | date:'medium'}}</h3>
      <h3>Computer ID: {{computer.computerId }}</h3>
      <h3>Computer Name: {{computer.machineName }}</h3>
      <h3>Computer Alia: {{computer.alias }}</h3>
      <div></div>
      @if (dataSource) {
      <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
          <mat-cell *matCellDef="let elementoP"> {{elementoP.position}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let elementoP"> {{elementoP.name}} </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
          <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
          <mat-cell *matCellDef="let elementoP"> {{elementoP.weight}} </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol">
          <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
          <mat-cell *matCellDef="let elementoP"> {{elementoP.symbol}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns45"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns45;"></mat-row>
      </mat-table>
    }
    @if (dataSource2.data) {
      <mat-table [dataSource]="dataSource2.data" class="mat-elevation-z8">
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <mat-header-cell *matHeaderCellDef> mftId </mat-header-cell>
          <mat-cell *matCellDef="let entrie"> {{entrie.mftId}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let entrie"> {{entrie.name}} </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
          <mat-header-cell *matHeaderCellDef> createdDate </mat-header-cell>
          <mat-cell *matCellDef="let entrie"> {{entrie.createdDate}} </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol">
          <mat-header-cell *matHeaderCellDef> modifiedDate </mat-header-cell>
          <mat-cell *matCellDef="let entrie"> {{entrie.modifiedDate}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns2;"></mat-row>
      </mat-table>
    }

    </ng-template>
  </mat-tab>
}
</mat-tab-group>
