
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import '@fortawesome/fontawesome-free/css/all.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: light dark;
  }
  body {
    color: light-dark(#333b3c, #efefec);
    background-color: light-dark(#efedea, #223a2c);
  }

.bg-secondary-color{
    background: var(--secondary-color);
}

.group:hover .group-hover\:fill-secondary-color{
    fill: var(--secondary-color);
}
.\!fill-secondary-color {
    fill: var(--secondary-color);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
