@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import '@fortawesome/fontawesome-free/css/all.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: light dark;
    --primary-color:#94CE0D;
    --secondary-color:#333333;;
  }
  body {
    color: light-dark(#333b3c, #efefec);
    background-color: light-dark(#efedea, #223a2c);
  }

.bg-secondary-color{
    background: var(--secondary-color);
}

.group:hover .group-hover\:fill-secondary-color{
    fill: var(--secondary-color);
}
.\!fill-secondary-color {
    fill: var(--secondary-color);
}
html, body {
  font-family: 'Roboto';
  padding: 0px;
  margin: 0px;
}
.with-80prcent .p-dropdown {
  width: 100%;
}


.check-verified {
  color: #10b031;
  margin-right: 5px
}

.check-not-verified {
  color: #ce3519;
  margin-right: 5px
}

.check-blue {
  color: #33c0ff;
  margin-right: 5px
}

.check-danger {
  color: #ce3519;
  margin-right: 5px
}

.check-warning {
  color: #e2a600;
  margin-right: 5px
}

.check-review {
  color: #33c0ff;
  margin-right: 5px
}

.check-correct {
  color: #10b031;
  margin-right: 5px
}

.check-Yellow {
  color: #e2a600;
  margin-right: 5px
}
.drive-count-status-uploading {
  color: #e2a600
}

.drive-count-status-processing {
  color: #497794
}

.drive-count-status-browsable {
  color: #10b031
}

.drive-count-status-excluded {
  color: #e84545
}
.p-column-filter-menu .p-column-filter-menu-button .p-icon-wrapper {
  display: flex;
}
.p-menuitem-content a.p-menuitem-contenta.p-menuitem-link-acitve {
  background: aqua;
}
.computer-list table thead tr th:first-child {
  border-top-left-radius: 6px;
}
.computer-list table thead tr th:last-child {
  border-top-right-radius: 6px;
}
.user-list table thead:first-child tr:first-child th:first-child {
  border-top-left-radius: 6px;
}
.user-list table thead:first-child tr:first-child th:last-child {
  border-top-right-radius: 6px;
}
.p-paginator {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


